<div class="main-content">

    <div class="container-fluid">
        <!-- Title group  -->
        <div class="title-group">
            <h1 class="mat-h1">Add country</h1>
            <mat-divider fxFlex="1 0"></mat-divider>
        </div>

        <!-- Book form -->
        <div class="inner-wrapper">
            <form [formGroup]="countryForm" (ngSubmit)="submitBook()" #resetBookForm="ngForm" novalidate>
                <!-- Left block -->
                <mat-card>
                    <div class="controlers-wrapper">
                        <!-- Country name -->
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Country name" formControlName="country">
                                    <!--                            <mat-error *ngIf="handleError('country', 'required')">-->
                                    <!--                                You must provide a <strong>country name</strong>-->
                                    <!--                            </mat-error>-->
                                </mat-form-field>
                            </div>

                            <div class="col-md-5">
                                <mat-form-field>
                                    <mat-label>Choose a continent</mat-label>
                                    <mat-select formControlName="continent">
                                        <mat-option value="Europe">Европа</mat-option>
                                        <mat-option value="Asia">Азия</mat-option>
                                        <mat-option value="Africa">Африка</mat-option>
                                    </mat-select>
                                    <!--                            <mat-error *ngIf="handleError('continent', 'required')">-->
                                    <!--                                You must provide a <strong>continent</strong>-->
                                    <!--                            </mat-error>-->
                                </mat-form-field>
                            </div>
                        </div>

                        <h5>Краткая информация(summary)</h5>
                        <editor formControlName="summary" initialValue="Общая краткая информация" [init]="{
                                height: 300,
                                plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                        'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify |
                        bullist numlist outdent indent | removeformat | help'}"></editor>
                        <h5>Полная информация(news)</h5>
                        <editor formControlName="news" initialValue="Полная информация" initialValue="Общая краткая информация" [init]="{
                                height: 500,
                                plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                        'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify |
                        bullist numlist outdent indent | removeformat | help'}"></editor>

                    </div>
                </mat-card>


                <!-- Submit & Reset -->
                <mat-card>
                    <div class="full-wrapper button-wrapper">
                        <div class="button-wrapper">
                            <button mat-flat-button color="warn">Submit</button>
                            <button mat-flat-button color="war" (click)="resetForm()">Clear</button>
                        </div>
                    </div>
                </mat-card>
            </form>
        </div>
    </div>
</div>
