<div class="main-content" id="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-10">
                        <mat-form-field class="example-full-width">
                            <input type="text"
                                   placeholder="Выберите страну"
                                   aria-label="Number"
                                   matInput
                                   [formControl]="myControl"
                                   [matAutocomplete]="auto" #autoInput>
                            <mat-autocomplete #auto="matAutocomplete"
                                              (optionSelected)="onSelect($event, autoInput)">
                                <mat-option *ngFor="let country of filteredOptions | async" [value]="country">
                                    {{country}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 ml-auto mr-auto countryMap">
                <app-mapchart></app-mapchart>
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="divs">
                <app-county-item
                        *ngFor="let limitEl of limits; let i = index"
                        [country]="limitEl" [id]="limitEl.$id"
                        [countyName]="limitEl.country"></app-county-item>
            </div>


        </div>

        <!--        <div class="row" id="after" #after>-->
        <!--            test-->


        <!--        </div>-->
    </div>
</div>
